
.top-text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;

color: #000000;
background-color: #793C75;
height: 70px;
align-content: center;
}

nav a{
    text-decoration: none;
    color: #000000;
    margin-left: 80px;
   
}
.kavaua{

position: absolute;
width: 452px;
height: 58px;

font-family: 'Inter';
font-style: italic;
font-weight: 100;
font-size: 48px;
line-height: 58px;
/* identical to box height */

color: #000000;
}



    


/* coffee 1 */

.menu{
    /* чай */


width: 56px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #7a1a1a;


}
body{
    background-color: rgb(231, 146, 213);
}
.bot-text{
    /* Наша адреса */

position: absolute;
width: 132px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #c4bcbc;


}
.bottom-text{
    


width: 144px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #8d79ff;



}





